.app-guest-book-form{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
}

.mat-form-field{
    width: 100%;
}