.app-container {
  height: 100vh;
}

.app-sidenav {
  width: 30%;
}

.app-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.mat-list a{
    text-decoration: none;
    color: white;
}
