<mat-drawer-container class='app-container' autosize>
    <mat-drawer opened='true' #drawer class='app-sidenav' mode='side'>
        <mat-nav-list class='mat-list'>
            <mat-list-item [routerLink]='["blog"]'>
                Blog
            </mat-list-item>
            <mat-list-item [routerLink]='["guest-book"]'>
                Guest Book
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <app-toolbar (menuIconClick)='drawer.toggle()' ></app-toolbar>
    <ng-content></ng-content>
</mat-drawer-container>